[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lennonallen
	email = lennonallen85@icloud.com
[init]
	defaultBranch = master
[core]
	excludesfile = /Users/lennonallen/.gitignore_global
